*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
}

.main-container{
    width: 100%;
    height: 100%;
    background-color: rgb(0,20,40);
}

.nav-bar{
    width: 100%;
    height: 12vh;
    background-color: rgb(0,20,40);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo-sec img{
    height: 35px;
}

.input input{
    width: 550px;
    height: 35px;
    padding-inline: 20px;
}

.text-sec ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

.text-sec ul li a{
    color: white;
    text-decoration: none;
}

.text-sec ul li{
    align-items: center;
    justify-content: center;

}

.nav-bar-2{
    width: 100%;
    height: 10vh;
    background-color: rgb(0,20,40);
}

.left-side{
    width: 100%;
    height: 10vh;
    display: flex;
    color: white;
    padding: 10px;
    
}

.left-side button{
    width: 90px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
}

.left-side ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side{
    display: flex;
    gap: 20px;
}

/* nav-bar end */

.slider-container{
    width: 100%;
    height: 70vh;
}

.carousel-inner{
    height: 70vh;
}

/* slider container end */

.btn-container{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container button{
    width: 250px;
    height: 50px;
    color: #82c1e9;
    background: #0b1e32;
    cursor: pointer;
    font-size: 17px;
    border: 0.5px solid hsla(0,0%,100%,.05);
}

/* btn container end */


.card-slider{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 30px;
    gap: 10px;
}

.box-1{
    width: 40%;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(11,30,50);
    border: 0.5px solid hsla(0,0%,100%,.05);
}

.box-1 img{
    width: 300px;
}

.box-1 h3{
    text-decoration: line-through;
    font-size: 20px;
}

.box-1 button{
    width: 130px;
    height: 5vh;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
}

/* card slider end */

.img-container{
    width: 100%;
    height: 60vh;
    display: flex;
    padding: 20px;
}

.img-b-1{
    width: 100%;
    height: 50vh;
    background-image: url(./d088caa5-9903-403f-b8d2-faff4f245cce___051cfafdd98bcccfd28a56cb491b3996.webp);
    background-position: center;
    background-size: cover;
}

.img-b-2{
    width: 100%;
    height: 50vh;
    background-image: url(./8fbe47f6-fc89-4856-a0bf-94795f152f2d___760538b6c02afdc196a548b82019f241.webp);
    background-position: center;
    background-size: cover;
}

/* img container end */

.trending-container{
    width: 100%;
    height: 60vh;
}

.trending-container h2{
    color: white;
    padding-inline: 40px;
}

.box-container{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 15px;
    gap: 10px;
}

.box-2{
    width: 25%;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(11,30,50);
}

.box-2 img{
    width: 150px;
}

.box-2 a button{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(54, 54, 54);
    border: 1px solid #82c1e9!important;
    
}

.box-2 a{
    text-decoration: none;
}

.box-2 span{
    display: flex;
    gap: 15px;
}

#h6{
 text-decoration: line-through;   
}


/* treding container end */

.searching-container{
    width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 22px;
}

.searching-container h2{
    font-size: 40px;
}

.searching-container input{
    width: 22%;
    height: 35px;
    border-radius: 50px;
    border:1px solid  #0b1e32!important; ;
    background-color: #0b1e32;
    padding-inline: 10px;
}

.btn-section button{
    width: 120px;
    height: 4vh;
    font-size: 12px;
    background-color: #0b1e32;
    color: white;
    border: 1px solid #0b1e32!important;
    border-radius: 30px;
}

.btn-section{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 10px;
}


/* searching container end */

.anything-container{
    width: 100%;
    height: 25vh;
    background-color: #0b1e32;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.anything-container span input{
    width: 40%;
    height: 6vh;
    padding-inline: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-right: none; 
}



.anything-container span button{
    width: 150px;
    height: 6vh;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(255,85,77);

}

.anything-container span{
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;

}


/* anything container end */

.footer-container{
    width: 100%;
    height: 80vh;
    background-color: rgb(0,20,40);

}

.footer-1{
    width: 100%;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-1{
    width: 30%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-1 img{
    width: 200px;
}

.container-2{
    width: 30%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-2 ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.container-2 ul li a i{
    font-size: 35px;
    color: white;
}

.container-3{
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-3 img{
    width: 70px;
}

.container-3 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* footer-1 end */

.footer-2{
    width: 100%;
    height: 55vh;
    color: white;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.f-1{
    width: 30%;
    height: 50vh;
    font-size: 10px;
}

.f-1 h5{
    font-size: 25px;
    padding-inline: 30px;
}

.f-1 ul{
    list-style: none;
}

.f-1 ul li{
    font-size: 14px;
}

/* footer-container end */

.footer-container-2{
    width: 100%;
    height: 30vh;
    background-color: white;
}

.footer-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text-2{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245,245,245);
}

.footer-text-2 img{
    width: 80px;
}

@media(max-width:768px){
    .main-container{
        width: 100%;
        height: auto;

    }
    .nav-bar{
        width: 100%;
        height: auto;

    }
    .card-slider{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .box-1{
        width: 100%;
    }

    .img-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .trending-container{
        width: 100%;
        height: auto;
    }
    .box-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-2{
        width: 100%;
    }
    .searching-container{
        width: 100%;
        height: auto;
        font-size: 12px;
    }
    .btn-section{
        width: 100%;
        height: auto;
    }
    .anything-container{
        width: 100%;
        height: 20vh;
        font-size: 12px;
        margin-top: 10px;

    }
    .footer-container{
        width: 100%;
        height: auto;
    }
    .footer-1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-1{
        width: 100%;
        height: auto;
    }
    .footer-2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-container-2{
        width: 100%;
        height: auto;
        font-size: 12px;
    }
}